DATABASE_URL="postgresql://user:password@localhost:5432/copit_db"
JWT_SECRET="CHANGE_ME_TO_A_RANDOM_64_CHAR_STRING"

# Procolis / ZR Express
PROCOLIS_TOKEN="your_procolis_token"
PROCOLIS_KEY="your_procolis_key"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
